* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

body {
    background-color: crimson;
    color: white;
    font-family: Helvetica, sans-serif;
}

/* calc */

form > p {
    display: none;
}

/* scanner */

.scannercontainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.scannercontainer .scanner {
    background-color: black;
    border-left: 4em solid black;
    border-right: 4em solid black;
    border-bottom: 3em solid black;
    border-top: 3em solid black;
    position: relative;
}

.scanner {
    display: none;
}

.scannercontainer .scanner video {
    width: 100%;
}

.scannercontainer .scanner p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 30%;
    right: 30%;
    color: white;
}

.scannercontainer .scanner div {
    top: 45%;
    position: absolute;
    width: 100%;
    background-color: red;
    height: 1px;
    animation: scanning 3s infinite;
}

@keyframes scanning {
    50% {
      transform: translateY(75px);
    }
}

/* table */

table, td, th {
    border: 1px solid;
}
  
table {
    border-collapse: collapse;
}