* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

body {
    background-color: crimson;
    color: white;
    font-family: Helvetica, sans-serif;
}

/* calc */

form > p {
    display: none;
}

/* scanner */

.scannercontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scannercontainer section:first-of-type {
    background-color: black;
    border: 1em solid black;
    position: relative;
}

.scannercontainer section:first-of-type video {
    width: 100%;
    aspect-ratio: 1.3/1;
    z-index: 2;
}

.scannercontainer section:first-of-type p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 30%;
    right: 30%;
    color: white;
}

.scannercontainer section:first-of-type div {
    top: 40%;
    position: absolute;
    width: 100%;
    background-color: red;
    height: 1px;
    animation: scanning 3s infinite;
}

@keyframes scanning {
    50% {
      transform: translateY(75px);
    }
}

.scannercontainer section:last-of-type {
    display: flex;
    justify-content: space-evenly;
}

/* table */

table, td, th {
    border: 1px solid;
}
  
table {
    border-collapse: collapse;
}

table img {
    width: 10em;
}